:root {
    --body-color: #202745;
    --tab-1-color: #49D7A4;
    --tab-2-color: #A7F9D5;
    --tab-3-color: #F7EA89;
    --tab-4-color: #ECCB99;
    --tab-5-color: #FC9078;
    --tab-6-color: #E7354F;
    --main-height-inner: 90%;
    --main-shadow: 8px 8px 0px #aaaaaa;
}

*,*::before,*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "CreamPeach";
    src: url("fonts/CreamPeach/CreamPeach.woff2") format("woff2"), 
    url("fonts/CreamPeach/CreamPeach.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Delius";
    src: url("fonts/Delius/Delius.woff2") format("woff2"), /* Modern Browsers */
    url("fonts/Delius/Delius.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

html {
    /* font-family: "Cream-Peach" !important; */
    font-family: 'Delius', cursive;
}

body {
    /* font-family: 'Delius'; */
    background-color: var(--body-color);
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    height: 100vh;
}

.conteneur {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.couverture {
    width: 95vw;
    height: 95vh;
    margin: auto;
    background-color: var(--tab-1-color);
    border-radius: 30px;
    text-align: center;
    display: flex;
    position: relative;
}

.fond {
    background-color: var(--tab-3-color);
    width: 95%;
    height: 95%;
    border-radius: 30px;
    margin: auto;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

nav {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 95%;
    margin-right: 0;
    width: 100px
}

.nav1 {
    left: -1.3vw !important;
    top: 2.5%;
} 

.nav2 {
    right: -1.3vw;
    top: 2.5%;
} /* Fonctionne */

.vertical-line {
    border-left: 4px solid white;
    position: absolute;
    height: 100%;
    left: 50%;
    margin-left: -2px;
}

/*Onglets*/

nav a {
    color: white;
    text-decoration: none;
    font-size: 2em;
    display: block;
    width: 100%;
    height: 16.6%;
    text-align: center;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.nav2 a {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/*Barre de navigation*/
.nav1 a:first-child {
    background-color: var(--tab-1-color);
}
.nav1 a:first-child:hover {
    background-color: rgb(49, 145, 109);
}

.nav1 a:nth-child(2) {
    background-color: var(--tab-2-color);
}
.nav1 a:nth-child(2):hover {
    background-color: rgb(117, 175, 149);
}

.nav1 a:nth-child(3) {
    background-color: var(--tab-3-color);
}
.nav1 a:nth-child(3):hover {
    background-color: rgb(148, 139, 79);
}

.nav2 a:first-child {
    background-color: var(--tab-4-color);
    margin-top: auto;
}
.nav2 a:first-child:hover {
    background-color: rgb(151, 131, 100);
}

.nav2 a:nth-child(2) {
    background-color: var(--tab-5-color);
}
.nav2 a:nth-child(2):hover {
    background-color: rgb(145, 84, 70);
}

.nav2 a:nth-child(3) {
    background-color: var(--tab-6-color);
}
.nav2 a:nth-child(3):hover {
    background-color: rgb(150, 34, 51);
}

.offre-liste-container {
    float: right;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-Y: scroll;
}

.offre-liste-element {
    border-radius: 10px;
    box-shadow: var(--main-shadow);
    margin: 20px;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    background: white;
    cursor: pointer;
    text-align: left;
}

.nom-offre-liste {
    font-weight: bold;
    font-size: 1.2rem;
}

.company-name-small {
    font-size: 1rem;
    color: darkgrey;
    font-style: italic;
}

.liste-lieu {
    font-size: 1rem;
    color: black;
    font-style: normal;
}

.offre-display-container {
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    border-right: 2px white solid;
    position: relative;
}

.offre-display-element {
    width: 90%;
    height: 45%;
    left: 5%;
    top: 5%;
    background: white;
    border-radius: 20px;
    box-shadow: var(--main-shadow);
    position: absolute;
    z-index: 1;
    overflow-Y: scroll;
    visibility: hidden; /* by default */
}

.offre-display-container>h1 {
    margin: auto;
    width: max-content;
    text-align: center;
    font-size: 2rem;
    font-style: italic;
}

.maps {
    width: 90%;
    height: 40%;
    position: absolute;
    left: 5%;
    bottom: 5%;
    border-radius: 20px;
    box-shadow: var(--main-shadow);
    display: block;
    visibility: hidden;
}

.contact {
    display: block;
    border-radius: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background: var(--tab-1-color);
    width: max-content;
    height: max-content;
    margin-bottom: 10px;
    color: white;
    text-decoration-line: none;
    font-weight: bold;
    font-style: italic;
    transition: box-shadow 1s linear;
}

.contact:hover {
    box-shadow: 5px 5px 10px gray;
}

.contact:active {
    background: var(--body-color);
}