:root {
    --body-color: #202745;
    --tab-1-color: #49D7A4;
    --tab-2-color: #A7F9D5;
    --tab-3-color: #F7EA89;
    --tab-4-color: #ECCB99;
    --tab-5-color: #FC9078;
    --tab-6-color: #E7354F;
    --main-height-inner: 90%;
}

*,*::before,*::after {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "CreamPeach";
    src: url("../fonts/CreamPeach/CreamPeach.woff2") format("woff2"), 
        url("../fonts/CreamPeach/CreamPeach.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Delius";
    src: url("../fonts/Delius/Delius.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Delius/Delius.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
h1{
    font-family: "Creampeach";
    text-align: center;
    font-size: 3.5rem;
    color: #01442C;
}

body {
    background-color: var(--body-color);
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    height: 100vh;
    font-family: "Delius";
    font-size: 1rem;
}

.conteneur {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.couverture {
    width: 95vw;
    height: 95vh;
    background-color: #49D7A4;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fond {
    background-color: var(--tab-3-color);
    width: 95%;
    height: 95%;
    border-radius: 30px;
    margin: auto;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}


.nav1 {
    left: -1.3vw !important;
    top: 2.5%;
} 

.nav2 {
    right: -1.3vw;
    bottom: 2.5%;
}

nav {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 95%;
    margin-right: 0;
    width: 100px;
}

.vertical-line {
    border-left: 4px solid white;
    position: absolute;
    height: 100%;
    left: 50%;
    margin-left: -2px;
}
/*Onglets*/

nav a {
    color: white;
    text-decoration: none;
    font-size: 2em;
    display: block;
    width: 100%;
    height: 16.6%;
    text-align: center;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.nav2 a {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/*Barre de navigation*/
nav a:first-child {
    background-color: var(--tab-1-color);
}

nav a:first-child:hover {
    background-color: rgb(49, 145, 109);
}

nav a:nth-child(2) {
    background-color: var(--tab-2-color);
}

nav a:nth-child(2):hover {
    background-color: rgb(117, 175, 149);
}

.nav2 a:nth-child(1) {
    background-color: var(--tab-3-color);
    margin-top: auto;
}

.nav2 a:nth-child(1):hover {
    background-color: rgb(148, 139, 79);
}

.nav2 a:nth-child(2) {
    background-color: var(--tab-4-color);
}

.nav2 a:nth-child(2):hover {
    background-color: rgb(151, 131, 100);
}

.nav2 a:nth-child(3) {
    background-color: var(--tab-5-color);
}

.nav2 a:nth-child(3):hover {
    background-color: rgb(145, 84, 70);
}

.nav2 a:nth-child(4) {
    background-color: var(--tab-6-color);
}

.nav2 a:nth-child(4):hover {
    background-color: rgb(150, 34, 51);
}

.page1{
    background-color: #A7F9D5;
    width: 47.5%;
    height: 95%;
    border-radius: 15px 0px 0px 15px;
    border-left: solid 10px #A7F9D5;
    border-radius: 15px 0px 0px 15px;
    z-index: 1;
}

.page2{
    background-color: #A7F9D5;
    width: 47.5%;
    height: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-left: solid 5px white;
    border-radius: 0px 15px 15px 0px;
    z-index: 1;
    align-items: center;
}

.post{
    width: 200px;
    height: 200px;
    float: right;
}

li{
    font-size: 2rem;
}

h2{
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.bloc1{
    width: 65%;
    height: 60%;
    color: #267257;
    background-color: #FFFEFA;
    opacity: 0.75;
    margin-left: 20px;
    padding-bottom: 5%;
    margin-bottom: 60px;
}

.images{
    display: flex;
    flex-direction: column;
}

.flex{
    display: flex;
    justify-content: space-evenly;
}

.lien{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: #F8FC9C;
    width: 80%;
    border-radius: 30px;
    margin: auto;
    text-align: center;
}

a{
    text-decoration: none;
    color: #267257;
}

a:hover{
    color: orange;
}

p{
    text-align: center;
    color: #267257;
}

.bloc2{
    width: 90%;
    height: 85%;
    color: #267257;
    background-color: #FFFEFA;
    opacity: 0.75;
    margin-top: 30px;
    padding-bottom: 5%;
    padding-left: 10px;
    padding-right: 10px;
}

.bag{
    width: 150px;
    height: 150px;
    margin-top: 80px;
    margin-left: 20px;
}

.bloc3{
    width: 90%;
    height: 45%;
    color: #267257;
    background-color: #FFFEFA;
    padding-bottom: 5%;
    border-radius: 30px;
}

h3{
    font-size: 1.5rem;
    text-align: left;
    margin-top:5px;
    margin-left: 20px;
    
}

@media screen and (max-width:1450px) {
    h2{
        font-size: 2rem;
    }

    a{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:1150px) {
    h1{
        font-size: 2.5rem;
    }
}

@media screen and (max-width:1100px) {
    h2{
        font-size: 1.5rem;
    }

    li{
        font-size: 1.8rem;
    }
}

@media screen and (max-height:800px) {

    .lien{
        height: 40px;
        margin-top: -30px;
        font-size: 1rem;
    }

    .post{
        width: 150px;
        height: 150px;
        float: right;
    }

    li{
        font-size: 1.5rem;
    }
}

@media screen and (min-height:1000px) {

    h1{
        font-size: 5rem;
    }
    .lien{
        margin-top: 40px;
    }
    .flex{
        margin-top: 50px;
    }
}